body {
  background-color: black;
}
.row {
  background-color: black;
  padding: 100px 0;
}
.team-support {
  width: 280px;
  margin: auto;
  border-radius: 0px 0px 30px 30px;
  box-shadow: none;
}
.team-support-2 {
  width: 240px;
  margin: auto;
  border-radius: 0px 0px 30px 30px;
  box-shadow: none;
}
.team-support-2 img {
  height: 240px;
}
.team-support img {
  height: 240px;
}

.card-body {
  border-radius: 0px 0px 30px 30px;
  font-family: Monteserat;
  font-style: normal;
}
.card-body p {
  margin: 0;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.card-body span {
  margin: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.border-support {
  width: 246px;
  background: linear-gradient(#e4e4e4, #585757);
  margin: 0px;
}
.col-sm-4,
.col-sm {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
}
.main {
  background: black;
  height: calc(100vh - 110px);
  padding: 0;
}
.main img {
  width: 100%;
  height: inherit;
}
hr {
  margin: auto;
  border: 3px solid #fefae0;
  max-width: 1200px;
  margin-top: 100px;
}
