@font-face {
    font-family: "Inria Sans Bold";
    src: url("../InriaSans-Bold.ttf") format("truetype");
    /* Adjust the path accordingly */
    font-weight: bold;
    font-style: normal;
}
.lnr{
    text-align: center;
    margin: auto;
}
.team-txt {
    background: url(./team_bg.svg) no-repeat center center/cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-container-boss {
    background: url(./teamcard_bg.png) no-repeat center center/cover;
    background-size: cover;
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 25% 1;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
}


.member-img {
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

.name {
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4675C0;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Inria Sans Bold";
    color: white;
    padding-right: 0px;
    padding-left: 0px;
}

@media (max-width:880px){
    .team-container-boss {
        height: 580vh;
    }
}


@media (max-width:600px) {
    .team-container-boss {
        height: 850vh;
    }
}

@media (max-width:400px) {
    .team-container-boss {
        height: 1575vh;
    }
}