.body-text {
  background-color: #1e1f1f;
  font-size: 2rem;
}

.body-title {
  font-size: 3rem;
  font-style: bold;
}

p {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .about-us {
    font-size: 21px;
  }
}
