/* EventGallery.css */

.event-gallery {
    text-align: center;
    padding: 20px;
  }
  
  .event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .event-card {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 75%; 
  }
  
  .event-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .event-details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .event-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  