.social-icons {
  display: inline-block;
  color: #00EED0;
}
/* footer.css */

@font-face {
  font-family: "Inria Sans Bold";
  src: url("../InriaSans-Bold.ttf") format("truetype"); /* Adjust the path accordingly */
  font-weight: bold;
  font-style: normal;
}



.icon {
  transition: transform 0.3s ease;
  color: #00EED0;
}

.icon:hover {
  transform: scale(1.4);
}

.contact{
  font-size: "1.3rem";
    font-family: "Inria Sans Bold"
}
.pb-3{
  font-family: "Inria Sans Bold"
}



