.achivement {
  width: 200px;
  text-decoration: none;
  box-shadow: none;
}
.achivement.right-fix {
  direction: rtl;
}
.holder {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  width: 380px;
  max-height: 110px;
  border-radius: 40px;
  margin-top: -110px;
  z-index: 1;
  direction: rtl;
  border: 3px solid grey;
}
.achivement .card-img-top {
  border-radius: 25px;
  height: 300px;
}

.achivement span {
  display: block;
  color: black;
  width: 200px;
  text-align: center;
  font-size: 14px;
}
.achivement.right-fix .holder {
  direction: ltr;
  margin-top: -300px;
}
.achivement.right-fix span {
  position: relative;
  left: 0;
  top: 0;
  direction: ltr;
  text-align: center;
  width: 200px;
}

.col-md-6.right {
  float: right;
  position: relative;
}
@media screen and (max-width: 768px) {
  .holder {
    margin-top: 0;
    width: auto;
    border-radius: 0 0 15px 15px;
    max-height: 80px;
    padding: 0px;
  }
  .achivement.right-fix .holder {
    margin-top: 0;
  }
  .achivement .card-img-top {
    border-radius: 15px 15px 0 0;
    height: 300px;
  }

  .achivement.right-fix span {
    width: auto;
    margin-top: 0;
    text-align: center;
  }
}
