.banner-title {
  font-family: "Inria Sans Bold";
}
.container-main {
  width: auto;
}
@font-face {
  font-family: "Inria Sans Bold";
  src: url("../InriaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.team-txt {
  background-size: cover;
  height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sponsors-container-boss {
  background-size: cover;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.sponsors-item {
  flex: 50% 1;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.sponsors-img {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  aspect-ratio: 2/3;
}
.span {
  padding: 40px;
  margin-top: 10px;
  height: 60px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4675c0;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Inria Sans Bold";
  color: white;
}

@media (max-width: 600px) {
  .sponsors-container-boss {
    height: 100vh;
  }
}

@media (max-width: 430px) {
  .sponsors-container-boss {
    height: 100vh;
  }
}

.container-fluid-sponser{
  background: url(./Material\ Science\ &\ Engineering\ Society.svg) no-repeat center center/cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-fluid-sponser img{
  height: 120px;
  width:450px;
}