.card-title {
  text-align: center;
  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #d9d9d9;
  background-color: #1e1e1e;
  transition: 2s ease-in-out;
}
.card {
  min-height: 300px;
  max-width: 540px;
  border-radius: 30px;
  background-color: #d9d9d9;
  box-shadow: 0 0 10px darkblue;
}
.card-title.expandedL {
  left: calc(100% - 190px);
  padding: 10px 2px;
}
.card-text img {
  border-radius: 10px;
  max-height: 250px;
}
.rows {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: auto;
}

.column img {
  width: 100%;
  height: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .card-text img {
    max-height: 200px;
  }
}
/* CSS for expanded card */
.card-body {
  cursor: pointer;
}
.card-body.expanded {
  background-color: #f9f9f9;
}
.card-body.expanded img {
  max-width: 50%;
  float: left;
  margin-right: 10px;
}
.card-body.expanded p {
  margin-top: 60%;
}
