.card-title {
  text-align: center;
  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #d9d9d9;
  background-color: #1e1e1e;
  transition: 2s ease-in-out;
}
.card {
  min-height: 300px;
  max-width: 540px;
  border-radius: 30px;
  background-color: #d9d9d9;
  box-shadow: 0 0 10px darkblue;
}
.card-title.expandedL {
  left: calc(100% - 140px);
  padding: 10px 2px;
}
.card-text img {
  border-radius: 10px;
  max-height: 250px;
  max-width: 380px;
}
.rows {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: auto;
}

.column img {
  width: 100%;
  height: 100%;
}
.column p {
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  max-height: 220px;
  overflow-y: scroll;
}
.column p::-webkit-scrollbar {
  width: 4px;
}
.column p::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.column p::-webkit-scrollbar-thumb {
  background-color: #888;
}
.name-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d6d3d3;
  text-decoration-line: underline;
  font-size: 96px;
  font-family: "Montserrats";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.small-screen-expander {
  display: block;
  font-size: medium;
  font-size: 18px;
  color: black;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .card-text img {
    max-height: 200px;
  }
  .name-holder {
    font-size: 48px;
  }
  .card-title.expandedL {
    bottom: -20px;
  }
  .card-title.expanded {
    left: calc(100% - 140px);
    padding: 10px 2px;
    bottom: -20px;
  }
}
