.page-head{
    font-size: 50px;
    font-weight: inherit;
    justify-content: center;
    display: flex;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    font-weight: 700;
}
.page-content{
/* padding:50px; */
/* display: flex;
justify-content: center; */
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 35px;
font-size: 400;
color: whitesmoke;
text-align: left;

}
.about{
margin: 40px;
}

@media (max-width: 450px) {
    .page-content {
        /* padding: 50px; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        text-align: left;
        color: whitesmoke;
    }
}

@media (max-width: 821px) {
    .page-content {
        /* padding: 50px; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        text-align: left;
        color: whitesmoke;
    }
}

@media (max-width: 580px) {
    .page-head{
        font-size: 43px;
    }
}

@media (max-width: 580px) and (min-width: 467px){
    .page-head {
        font-size: 8.083333vw;
    }
}

@media (max-width: 466px) {
    .page-head {
        /* font-size: 50px; */
        font-weight: inherit;
        justify-content: start;
        display: flex;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 40px;
        font-weight: 700;
        padding-inline: 0px;
        padding-top: 0px;
    }
    .page-head {
        font-size: 9.64375vw;
    }
}
   